doctype
html(lang="ru")
	include ./components/head.jade
	body
		.wrapper
			include ./components/header.jade
			include ./components/features.jade
			include ./components/benefits.jade
			include ./components/promotion.jade
			include ./components/guarantees.jade
			include ./components/cases.jade
			include ./components/certificates.jade
			include ./components/attractions.jade
			include ./components/questions.jade
			include ./components/contacts.jade
			include ./components/footer.jade
		script(src="js/jquery-3.1.1.min.js")
		script(src="js/lightslider.js")
		script(src="js/jquery.fancybox.js")
		script(src="js/viewportchecker.js")
		script(src="js/main.js")