.icons {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
}
.icon_factory {
    width: 45px;
    height: 49px;
    background-position: -61px -61px;
}
.icon_customs {
    width: 45px;
    height: 39px;
    background-position: -7px -7px;
}
.icon_doc {
    width: 40px;
    height: 47px;
    background-position: -7px -61px;
}
.icon_paper {
    width: 38px;
    height: 39px;
    background-position: -120px -112px;
}
.icon_discount {
    width: 40px;
    height: 40px;
    background-position: -118px -7px;
}
.icon_restaurant {
    width: 51px;
    height: 44px;
    background-position: -172px -7px;
}
.icon_translator {
    width: 39px;
    height: 26px;
    background-position: -171px -65px;
}
.icon_optimization {
    width: 37px;
    height: 37px;
    background-position: -120px -61px;
}
.icon_delivery {
    width: 38px;
    height: 33px;
    background-position: -66px -7px;
}