.attractions.animate-effect
	.container
		h2.section-title
			| достопримечательность города
		h2.section-title.section-title-attraction
			| достояния города
		.attractions__slider
			ul.attractions__slider-list
				li.attractions__slider-item
					.attraction
						.attraction__img
							img(src="img/at1.jpg" alt="")
						.attraction__text
							p
								span Many themes claim to have 
								| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t
				li.attractions__slider-item
					.attraction
						.attraction__img
							img(src="img/at1.jpg" alt="")
						.attraction__text
							p
								span Many themes claim to have 
								| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t
				li.attractions__slider-item
					.attraction
						.attraction__img
							img(src="img/at1.jpg" alt="")
						.attraction__text
							p
								span Many themes claim to have 
								| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t
				li.attractions__slider-item
					.attraction
						.attraction__img
							img(src="img/at1.jpg" alt="")
						.attraction__text
							p
								span Many themes claim to have 
								| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t