.benefits.animate-effect
	.container
		h2.section-title
			| преимущества работы с нами
	.benefits__item.benefits__item_bigger
		.container
			.benefits__col-wrap
				.benefits__col-img.fl-right
					.benefits__img
						.benefits__icon
							.icons.icon_factory
						img(src="img/benefits1.jpg" alt="")
				.benefits__col-text.text-right
					.benefits__title
						| покупка прямо с завода изготовителя
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img
					.benefits__img
						.benefits__icon
							.icons.icon_customs
						img(src="img/benefits2.jpg" alt="")
				.benefits__col-text
					.benefits__title
						| Таможня за 1 день
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img.fl-right
					.benefits__img
						.benefits__icon
							.icons.icon_doc
						img(src="img/benefits3.jpg" alt="")
				.benefits__col-text.text-right
					.benefits__title
						| 100% сопровождение при оформлении документов
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img
					.benefits__img
						.benefits__icon
							.icons.icon_paper
						img(src="img/benefits4.jpg" alt="")
				.benefits__col-text
					.benefits__title
						| юридические гарантии
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img.fl-right
					.benefits__img
						.benefits__icon
							.icons.icon_discount
						img(src="img/benefits5.jpg" alt="")
				.benefits__col-text.text-right
					.benefits__title
						| скидки до 30% на апартаменты
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img
					.benefits__img
						.benefits__icon
							.icons.icon_restaurant
						img(src="img/benefits6.jpg" alt="")
				.benefits__col-text
					.benefits__title
						| скидка 10% на русские и турецкие рестораны
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img.fl-right
					.benefits__img
						.benefits__icon
							.icons.icon_translator
						img(src="img/benefits7.jpg" alt="")
				.benefits__col-text.text-right
					.benefits__title
						| бесплатный гид и переводчик
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img
					.benefits__img
						.benefits__icon
							.icons.icon_optimization
						img(src="img/benefits8.jpg" alt="")
				.benefits__col-text
					.benefits__title
						| оптимизация расходов при таможенном оформлении
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
	.benefits__item
		.container
			.benefits__col-wrap
				.benefits__col-img.fl-right
					.benefits__img
						.benefits__icon
							.icons.icon_delivery
						img(src="img/benefits9.jpg" alt="")
				.benefits__col-text.text-right
					.benefits__title
						| различные виды доставки (авто, ж/д, авиа)
					.benefits__text
						p We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.



