.cases.animate-effect
	.container
		h2.section-title
			| кейсы:
		.cases__slider
			ul.cases__slider-list
				li.cases__slider-item
					.product
						.product__img
							img(src="img/cases1.jpg" alt="")
						.product__info
							.product__descr
								P 
									span Many themes claim to have 
									| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. 
								p Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer
							.product__feedback
								.feedback
									.feedback__avatar
										img(src="img/avatar.jpg" alt="")
									.feedback__text
										.feedback__text-inner
											p
												| Я в восторге от нашей новой кухни! Об этой фирме узнала от подруги, которая заказывала себе гарнитур в квартиру
										span.feedback__author
											| Артем
					.cases__slider-switchers
				li.cases__slider-item
					.product
						.product__img
							img(src="img/cases1.jpg" alt="")
						.product__info
							.product__descr
								P 
									span Many themes claim to have 
									| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. 
								p Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer
							.product__feedback
								.feedback
									.feedback__avatar
										img(src="img/avatar.jpg" alt="")
									.feedback__text
										.feedback__text-inner
											p Я в восторге от нашей новой кухни! Об этой фирме узнала от подруги, которая заказывала себе гарнитур в квартиру
										span.feedback__author
											| Артем
					.cases__slider-switchers
				li.cases__slider-item
					.product
						.product__img
							img(src="img/cases1.jpg" alt="")
						.product__info
							.product__descr
								P 
									span Many themes claim to have 
									| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. 
								p Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer
							.product__feedback
								.feedback
									.feedback__avatar
										img(src="img/avatar.jpg" alt="")
									.feedback__text
										.feedback__text-inner
											p Я в восторге от нашей новой кухни! Об этой фирме узнала от подруги, которая заказывала себе гарнитур в квартиру
										span.feedback__author
											| Артем
					.cases__slider-switchers
				li.cases__slider-item
					.product
						.product__img
							img(src="img/cases1.jpg" alt="")
						.product__info
							.product__descr
								P 
									span Many themes claim to have 
									| a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don’t. Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer is a beautiful thing. 
								p Avada truly offers a quick, easy setup. Install the theme, click the demo  It doesn’t get any easier, our demo content importer
							.product__feedback
								.feedback
									.feedback__avatar
										img(src="img/avatar.jpg" alt="")
									.feedback__text
										.feedback__text-inner
											p Я в восторге от нашей новой кухни! Об этой фирме узнала от подруги, которая заказывала себе гарнитур в квартиру
										span.feedback__author
											| Артем
					.cases__slider-switchers
				
				