.certificates.animate-effect
	.container
		.certificates__wrap
			h2.section-title
				| сертификаты
			.certificates__col-wrap
				.col-3x
					.certificate
						a(href="img/cer1.jpg").certificate__link.fancybox
							img(src="img/cer1.jpg" alt="")
				.col-3x
					.certificate
						a(href="img/cer2.jpg").certificate__link.fancybox
							img(src="img/cer2.jpg" alt="")
				.col-3x
					.certificate
						a(href="img/cer3.jpg").certificate__link.fancybox
							img(src="img/cer3.jpg" alt="")
				.desctop-clearfix