.contacts.animate-effect
	.container
		h2.section-title
			| контакты
	.contacts__map
		iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d444247.8903727255!2d106.26837023491035!3d29.554618604050127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x369334baf3e64f43%3A0xde9f8616dc88b321!2z0KfRg9C90YbQuNC9LCDQmtC40YLQsNC5!5e0!3m2!1sru!2sua!4v1486460593991"  height="350"  allowfullscreen)
	.container
		.contacts__info
			.contacts__item
				.contacts__descr
					.contacts__address
						| Zhang Jia Wan, Shapingba Qu, Chongqing Shi
					a(href="#").contacts__tel
						| +1 604-874-6530
			.contacts__item
				.contacts__descr
					.contacts__address
						| Zhang Jia Wan, Shapingba Qu, Chongqing Shi
					a(href="#").contacts__tel
						| +1 604-874-6530
