.features.animate-effect
	.container
		h2.section-title
			| Почему стоит покупать мебель в Китае
		.features__col-wrap
			.col-2x
				.feature
					.feature__img-wrap
						.feature__img.feature__img_left
							img(src="img/features.jpg" alt="")
					.feature__title.feature__title_bold
						| Экономия до 200%
					ul.feature__list
						li.feature__list-item
							| Доставка и расстаможка: +25%
						li.feature__list-item
							| Аренда в ТЦ: от 5000 тг за кв.м. + 10% к стоимости
						li.feature__list-item
							| Зарплата сотрудников: +10% к стоимости
						li.feature__list-item
							| НДС: +12% к стоимости
						li.feature__list-item
							| КПН: +5% к стоимости
						li.feature__list-item
							| Аренда склада: от 800 тг за кв.м. + 5 к стоимости
						li.feature__list-item
							| Прибыль владельца магазина: +30%-50% - к стоимости
					.feature__result
						.feature__result-title
							| В итоге розничная цена:
						.feature__result-text
							p Кухня(2000$) + Спальня(2100$) + Мягкая мебель в зал(2200$)
			.col-2x
				.feature
					.feature__img-wrap
						.feature__img
							img(src="img/features.jpg" alt="")
					.feature__title
						| Переплатить более чем в 200%
					ul.feature__list
						li.feature__list-item
							| Доставка и расстаможка: +25%
						li.feature__list-item
							| Аренда в ТЦ: от 5000 тг за кв.м. + 10% к стоимости
						li.feature__list-item
							| Зарплата сотрудников: +10% к стоимости
						li.feature__list-item
							| НДС: +12% к стоимости
						li.feature__list-item
							| КПН: +5% к стоимости
						li.feature__list-item
							| Аренда склада: от 800 тг за кв.м. + 5 к стоимости
						li.feature__list-item
							| Прибыль владельца магазина: +30%-50% - к стоимости
					.feature__result
						.feature__result-title
							| В итоге розничная цена:
						.feature__result-text
							p  Кухня(2000$) + Спальня(2100$) + Мягкая мебель в зал(2200$)
		.features__btn-wrap
			a(href="#contact-pop-up").features__btn.fancybox.iframe
				| Хочу заказать мебель с 200% экономией

