.footer
	.container
		.footer__logo
			a(href="#").logo
				img(src="img/footer_logo.png" alt="")
		.footer__contacts
			a(href="tel:+74957254226").contacts__tel
				| +7 495 725-42-26
			a(href="#contact-pop-up").contacts__callback-btn.fancybox.iframe
				| Обратный  звонок
#contact-pop-up
	.contact-form
		form.contact-form__tag
			input(type="text" name="name-requestCall" placeholder="Ваше имя" required).contact-form__input
			input(type="tel" name="tel-requestCall" placeholder="Телефон" required).contact-form__input
			input(type="submit" name="submit-requestCall" value="Отправить заявку").contact-form__btn
#fountainG-wrap
	#fountainG
		#fountainG_1.fountainG
		#fountainG_2.fountainG
		#fountainG_3.fountainG
		#fountainG_4.fountainG
		#fountainG_5.fountainG
		#fountainG_6.fountainG
		#fountainG_7.fountainG
		#fountainG_8.fountainG