.guarantees.animate-effect
	.container
		h2.section-title
			| мы гарантируем:
		.guarantees__descr
			| We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates with new features requested by our users. You can count on us.
		.guarantees__col-wrap
			.col-3x
				.guarantee
					.guarantee__img.guarantee__img_first
						img(src="img/gar1.jpg" alt="")
					.guarantee__title
						| Сохранность грузов
			.col-3x
				.guarantee
					.guarantee__img
						img(src="img/gar2.jpg" alt="")
					.guarantee__title
						| качество продукта
			.col-3x
				.guarantee
					.guarantee__img
						img(src="img/gar3.jpg" alt="")
					.guarantee__title
						| юридическая гарантия:
					ul.guarantee__list
						li.guarantee__item
							| 1) Бесплатная консультация
						li.guarantee__item
							| 2) Помощь при просчете стоимости
						li.guarantee__item
							| 3) Каталог мебели

