.promotion.animate-effect
	.container
		.promotion__wrap
			.promotion__title
				| Оставляя заявку сейчас Вы получаете  сертификат на<br>
				span Бесплатное посещение СПА-салона!
			.promotion__col-wrap
				ul.promotion__list
					li.promotion__item
						| 24 часа
					li.promotion__item
						| 5 массажей
					li.promotion__item
						| 24 часа питание фуршет
					li.promotion__item
						| Wifi
					li.promotion__item
						| 3 вида парилки
					li.promotion__item
						| пилинг
					li.promotion__item
						| кинотеатр
					li.promotion__item
						| спортзал
					li.promotion__item
						| бильярд, настольный тенис, комьюстры
				.promotion__form
					form
						input(type="text" name="name" placeholder="Ваше имя" required).contact-form__input
						input(type="tel" name="tel" placeholder="Телефон" required).contact-form__input
						input(type="text" name="email" placeholder="E-mail" required).contact-form__input
						input(type="submit" name="submit" value="Получить сертификат").contact-form__btn
