.questions.animate-effect
	.container
		h2.questions__title
			| остались вопросы?
		.questions__sub-title
			| Оставьте заявку и получите ответы на вопросы
		.questions__contact-form
			.contact-form
				form.contact-form__tag
					input(type="text" name="name" placeholder="Ваше имя" required).contact-form__input
					input(type="tel" name="tel" placeholder="Телефон" required).contact-form__input
					input(type="text" name="email" placeholder="E-mail" required).contact-form__input
					input(type="submit" name="submit" value="Получить сертификат").contact-form__btn